
@{
    ViewBag.Title = "Index";
}

<h2>FLPeoplePro</h2>

<h3>Welcome!</h3>

<p>@Html.ActionLink("Employee", "Index", "Employee")<br />
    @Html.ActionLink("Department", "Index", "Department")<br />
    @Html.ActionLink("Building", "Index", "Buidling")</p>
